# name: Exploring variables and secrets
# on: push
# jobs:
#   docker:
#     runs-on: ubuntu-latest
#     steps:
#     - name: Docker build
#       env:
#         CONTAINER_REGISTERY: docker.io
#         DOCKER_USERNAME: siddarth1
#         IMAGE_NAME: github-action-nginx
#       run: echo docker build -t $CONTAINER_REGISTERY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#     - name: Docker login
#       env:
#         DOCKER_PASSWORD: s3cUrePaSsw0rd
#         DOCKER_USERNAME: siddarth1       
#       run: docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

#     - name: Docker publish
#       env:
#         CONTAINER_REGISTERY: docker.io
#         DOCKER_PASSWORD: s3cUrePaSsw0rd
#         DOCKER_USERNAME: siddarth1       
#       run: docker push ${{.CONTAINER_REGISTERY}}/${{env.DOCKER_USERNAME}}/${{env.DOCKER_PASSWORD}}:latest

#   deploy:
#     needs: docker
#     runs-on: ubuntu-latest
#     steps:
#     - name: Docker Run
#       env:
#         CONTAINER_REGISTERY: docker.io
#         DOCKER_USERNAME: siddarth1
#         IMAGE_NAME: github-action-nginx
#       run: docker run -d -p 8080:80 $CONTAINER_REGISTERY/$DOCKER_USERNAME/$IMAGE_NAME:latest

# ########## environment variables at JOB level ########################

name: Exploring variables and secrets
on: push
env:
  CONTAINER_REGISTERY: docker.io
  IMAGE_NAME: nodejs-app
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Docker build
      run: echo docker build -t $CONTAINER_REGISTERY/${{vars.DOCKER_USERNAME}}/$IMAGE_NAME:latest .

    - name: Docker login     
      run: docker login --username=${{vars.DOCKER_USERNAME}} --password=${{secrets.DOCKER_PASSWORD}}
      #run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ vars.DOCKER_USERNAME }}" --password-stdin

    - name: Docker publish  
      run: docker push $CONTAINER_REGISTERY/${{vars.DOCKER_USERNAME}}/$IMAGE_NAME:latest

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
    - name: Docker Run
      run: docker run -d -p 8080:80 $CONTAINER_REGISTERY/$DOCKER_USERNAME/$IMAGE_NAME:latest